<!DOCTYPE html>
<html>

<div class="navbar">
  <div class="container">
    <!-- navbar here -->
  </div>
</div>
<div class="container">
<head>
  <title>StravaJohn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>


</div>


<footer>
  <div class="container">
    <!-- footer stuff here -->
  </div>
</footer>
